<!DOCTYPE html>
<html>
  <head>
    <title>Mutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <body>
    <header>
        <a>mutter<a>
        <%= link_to '投稿',new_tweet_path %>
        <%= link_to '一覧',tweets_path %>
    </header>

    <%= yield %>

    <footer class="footer">
      <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 0001-9999 Copyright DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
